@model IEnumerable<Simulation.Models.Voiture>

@{
    ViewBag.Title = "About";
}

@Html.ActionLink("rouler!", "Rouler");

@foreach (var item in Model)
{
    <div>
        <h4>@item.Id</h4>
        <div>@item.Marque,@item.Kilometrage</div>
        <hr/>
    </div>
}